@model IEnumerable<string>


<div class="btn-group btn-group-sm btn-group-justified">
    @Html.ActionLink("Inicio", "ListaCoches", "Coches", null,
    new { @class = "btn btn-block btn-default btn-sm btn-primary" })
    @foreach (var link in Model)
    {
        string controllerName = "";
        string actionName = "";
        if (link == "Vehículos")
        {
            controllerName = "Coches";
            actionName = "ListaCoches";
        }
        else if (link == "Clientes")
        {
            controllerName = "Clientes";
            actionName = "ListaClientes";
        }

        @Html.RouteLink(link,
        new
        {
            controller = controllerName,
            action = actionName,
            page = 1
        },
        new {@class = "btn btn-block btn-default btn-sm btn-primary" }
        )
       
        }
</div>

